In [1]:
a=10
print(a)

10

In [3]:
b=input("Enter a number")
print(b)

45

## Operators

In [10]:
x = 10
y = 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

15
5
50
2.0
0
2
100000

In [11]:
x=5
x+=5
print(x)

10

In [12]:

x-=5
print(x)

5

In [13]:
x*=5
print(x)

25

In [14]:
x/=5
print(x)

5.0

In [15]:
a = 10
b = 3
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
True
False

In [17]:
a>5 and a>11

False

In [18]:
a>5 or a>11

True

In [19]:
not(a>5 and a>11)

True

In [20]:
fruits = ['apple','mango','grapes']
'mango' in fruits

True

In [1]:
fruits = ['apple','mango','grapes','kiwi','orange','banana']
print(fruits)

['apple', 'mango', 'grapes', 'kiwi', 'orange', 'banana']

In [5]:
fruit = ('apple','mango','grapes','kiwi','orange','banana')
print(fruit)

('apple', 'mango', 'grapes', 'kiwi', 'orange', 'banana')

In [6]:
fruit = ('apple','mango','grapes','kiwi','orange','banana','mango','apple')
print(fruit)

('apple', 'mango', 'grapes', 'kiwi', 'orange', 'banana', 'mango', 'apple')

In [7]:
fruit = {'apple','mango','grapes','kiwi','orange','banana','mango','apple'}
print(fruit)

{'grapes', 'banana', 'mango', 'apple', 'orange', 'kiwi'}

In [8]:
student = {
    'name' : 'John',
    'age'  : 25,
    'class' : '10th',
    'marks' : 90
}
print(student)

{'name': 'John', 'age': 25, 'class': '10th', 'marks': 90}

In [9]:
a = 10.1
type(a)

float

In [10]:
x = 10 
type(x)

int

In [11]:
s = 'Hello'
type(s)

str

In [12]:
x = 'Hello'
y = 12.1
type(x)
type(y)

float

In [13]:
a = input("enter a number")
print(a)

3

In [14]:
type(a)

str

In [16]:
a = input('Enter a number')
b = input("Enter a number")
print(a+b) #string concatenation

53

In [19]:
#type casting
a = int(input('Enter a number'))
b = int(input("Enter a number"))
print(a+b)

7

In [20]:
a = 10
b = 20
print('result is', a+b)

result is 30

In [21]:
a = 10
b = 20
print(f'Sum of {a} and {b} is {a+b}')

Sum of 10 and 20 is 30