DICTIONARY
 - how declare it
 - how to access key and values of a dictionary
 - how to use loops in dictionary
 - indexing in dictionary

In [2]:
student = {
    "name": "Rakhi",
    "class": "Physics",
    "roll_no": 12,
    "age": 18,
    "marks":70
}
print(student)

{'name': 'Rakhi', 'class': 'Physics', 'roll_no': 12, 'age': 18, 'marks': 70}

In [3]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'mumbai' : [35,40,45]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}

In [4]:
info = dict(name = 'John', age = 22, city = 'New york')
print(info)

{'name': 'John', 'age': 22, 'city': 'New york'}

In [5]:
info2 = dict([('name','John'),('age',22),('city','new york')])
print(info2)

{'name': 'John', 'age': 22, 'city': 'new york'}

In [6]:
info3 = dict(name = input("Enter your name"), age = int(input("Enter your age")), city = input("Enter your city"))
print(info3)

{'name': 'gf', 'age': 76, 'city': 'uyiu'}

In [7]:
#lst method to access value through key 
print(student['name'])
print(student['roll_no'])

Rakhi
12

In [8]:
#2nd method
print(student.get('name'))
print(student.get('roll_no'))
print(student.get('marks'))

Rakhi
12
70

In [9]:
#to add items in a dictionary
student['school'] = 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'Rakhi', 'class': 'Physics', 'roll_no': 12, 'age': 18, 'marks': 70, 'school': 'DPS', 'city': 'Lucknow'}

In [10]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'marks', 'school', 'city'])
dict_values(['Rakhi', 'Physics', 12, 18, 70, 'DPS', 'Lucknow'])
dict_items([('name', 'Rakhi'), ('class', 'Physics'), ('roll_no', 12), ('age', 18), ('marks', 70), ('school', 'DPS'), ('city', 'Lucknow')])

In [11]:
for k in student:
    print(k)

name
class
roll_no
age
marks
school
city

In [12]:
for k,v in student.items():
    print(f'{k} : {v}')

name : Rakhi
class : Physics
roll_no : 12
age : 18
marks : 70
school : DPS
city : Lucknow

In [13]:
company = {
    'emp001' : {'name' : 'Rakhi', 'age' : 25, 'dept' : 'HR', 'salary' : 30000},
    'emp002' : {'name' : 'Shreya', 'age': 26, 'dept' : 'Engineering', 'salary' : 50000},
    'emp003' : {'name' : 'Tanya', 'age' : 27, 'dept': 'Finance', 'salary' : 40000}
 }
print(company)

{'emp001': {'name': 'Rakhi', 'age': 25, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Shreya', 'age': 26, 'dept': 'Engineering', 'salary': 50000}, 'emp003': {'name': 'Tanya', 'age': 27, 'dept': 'Finance', 'salary': 40000}}

In [14]:
from pprint import pp
pp(company)

{'emp001': {'name': 'Rakhi', 'age': 25, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Shreya',
            'age': 26,
            'dept': 'Engineering',
            'salary': 50000},
 'emp003': {'name': 'Tanya', 'age': 27, 'dept': 'Finance', 'salary': 40000}}

In [18]:
print(company['emp001']['dept'])
print(company['emp002']['name'])

HR
Shreya

In [20]:
company['emp004'] = {'name' : 'Isha', 'age' : 26, 'dept' : 'Finance', 'salary' : 45000}
print(company)

{'emp001': {'name': 'Rakhi', 'age': 25, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Shreya', 'age': 26, 'dept': 'Engineering', 'salary': 50000}, 'emp003': {'name': 'Tanya', 'age': 27, 'dept': 'Finance', 'salary': 40000}, 'emp004': {'name': 'Isha', 'age': 26, 'dept': 'Finance', 'salary': 45000}}

In [21]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [28]:
print('Average temperature of delhi is :', sum(temp['delhi'])/len(temp['delhi']))

Average temperature of delhi is : 35.0